{% load static %}

<DOCTYPE html>
    <html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport"
        content = "width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'blog/css/style.css' %}"> 
    </head>
    <body>
        <nav>
            <a href="{% url 'profile' request.user.username %}">Profile</a>
            <a href="{% url 'postapp:create_post' %}">Make a Post</a>

            <form method="GET" action="{% url 'postapp:listofposts' %}" style="display: inline;">
                <input type="text" name="q" placeholder="Search posts..." value="{{ request.GET.q|default_if_none:'' }}">
                <button type="submit">Search</button>
            </form>
    
        </nav>
    
        <div class = "wrapper"> 
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
