{% extends 'blog/base_layout.html' %}

{% block content %}
    <title>List of All Posts</title>
    <h1> List of Posts </h1>
    <div class = "posts">
        {% for post in posts %}
            <div class = "post">
                <h2><a href = "{% url 'post_detail' post.id %}">{{ post.title }}</a></h2>
                <p> {{ post.snippet }} </p>
                <h6>By <a href = "#">{{ post.author.username }}</a> at {{ post.created_at }}</h6>
            </div>
        {% endfor %}
    </div>
{% endblock %}


